{% extends 'base.html.twig' %}

{% block title %}
	HomePage
	{{ parent() }}
{% endblock %}

{% block body %}
	<section >
		<div >
			<h1>Bievenue sur le site développé en Symfony</h1>
		</div>
	</section>
	<section >
		<h1 >Nos derniers articles</h1>
		<a href="#" >Voir les articles</a>
		<div >
		</div>
		
	</section>
{% endblock %}
