{% extends 'base.html.twig' %}

{% block title %}
    Modification d'une adresse
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-5 admin-brands-container">
        <h1 class="text-center mb-4">Modifier une adresse</h1>
        {% include 'Frontend/Adress/_form.html.twig' %}
        <a href="{{ path('app.users.adress.index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </section>
{% endblock %}
