html,
body {
    scroll-behavior: smooth;
    color: $text-color;
    background-color: rgb(205, 204, 204);
}

body {
    font-family: $font-primary;
}

img, figure, video {
    max-width: 100%;
    object-fit: cover;
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}


