<form action="{{path ('app.admin.products.delete', {id: product.id}) }}" method='POST' onsubmit="return confirm ('Etes vous sûr de vouloir supprimer ce modèle?')">
<input type="hidden" name="token" value="{{ csrf_token('delete' ~ product.id)}}">
<button type="submit"> Supprimer</button>
</form>
