<form action="{{path ('app.admin.models.delete', {id: model.id}) }}" method='POST' onsubmit="return confirm ('Etes vous sûr de vouloir supprimer ce modèle?')">
<input type="hidden" name="token" value="{{ csrf_token('delete' ~ model.id)}}">
<button type="submit"> Supprimer</button>
</form>
