{% extends 'Backend/base.html.twig' %}

{% block title %}
    Administration des genres
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-5">
        <h1 class="text-center mb-4">Administration des Modèles</h1>
        <div class="row">
            {% for model in models %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ model.name }}</h5>
                            <p class="card-text">{{ model.enable ? 'Actif' : 'Inactif' }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="{{ path('app.admin.models.update', { id: model.id }) }}" class="btn btn-primary">
                                    Modifier
                                </a>
                                {% include 'Backend/Models/_deleteForm.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
