<footer class="footer bg-dark text-white py-4">
    <div class="container footer-container">
        <div class="footer-column">
            <h5>Nous contacter</h5>
            <p>Portail de contact<br>Notre équipe s'engage à vous répondre en 24 à 48h ouvrées.</p>
        </div>
        <div class="footer-column">
            <h5>À propos de Wethenew</h5>
            <p>Wethenew a pour mission de donner la possibilité à tous les amateurs, les passionnés et les curieux de sneakers et streetwear d'acheter des produits limités qui leur plaisent en toute confiance.</p>
        </div>
        <div class="footer-column">
            <h5>En savoir plus</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Notre concept</a></li>
                <li><a href="#" class="text-white">Conditions de nos offres</a></li>
                <li><a href="#" class="text-white">Wethenew Galleries Lafayette</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Nos services</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">E-carte cadeau</a></li>
                <li><a href="#" class="text-white">FAQ</a></li>
                <li><a href="#" class="text-white">Programme Wethenew family</a></li>
                <li><a href="#" class="text-white">Vendez votre produit</a></li>
                <li><a href="#" class="text-white">Envoi et livraison</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Nos collections</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Sneakers Femme</a></li>
                <li><a href="#" class="text-white">Sneakers Homme</a></li>
                <li><a href="#" class="text-white">Sneakers Eco-responsable</a></li>
                <li><a href="#" class="text-white">Moins de 200€</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Retrouvez nous sur</h5>
            <ul class="list-unstyled d-flex">
                <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
                <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-tiktok"></i></a></li>
                <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                <li class="mr-3"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#" class="text-white"><i class="bi bi-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
